$prefix: '.flex'

// directions
$row: 'row'
$column: 'column'

// orientations
$start: 'start'
$center: 'center'
$end: 'end'

// large
$lg: 'lg'
$lg-min: 1200px

// medium
$md: 'md'
$mdx: 'mdx'
$md-min: 992px
$md-max: $lg-min - 1px

// small 
$sm: 'sm'
$smx: 'smx'
$sm-min: 768px
$sm-max: $md-min - 1px

// extreme small
$xs: 'xs'
$xs-max: $sm-min - 1px


